
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="links-panel">
        <%= link_to 'Login', new_dashboard_user_session_path, class: 'link-button' %>
        <%= link_to 'Sign Up', new_dashboard_user_registration_path, class: 'link-button' %>
      </div>
    </div>
  </div>
</div>
